<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    body {
      background-color: #b3ffb3;
        }
        h1 {
            text-align: center;
            color: white;
        }
        h2{
          text-align: center;
          color: white;
        }
        p {

            color: #0099ff;
            font-size: 18px;
        }
        .center{
          border: 8px solid pink;
          padding: 10px;
          width: 500px;
          height: 500px;
          text-align: justify;
        }
        .juice{
          background-color: tomato;
          color: white;
          padding: 10px;
        }
  </style>
</head>

<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LYX Juice</a>
    </div>
   <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li class="dropdown">
        <li><a href="/product">Product</a></li>
      </ul>
       <ul class="nav navbar-nav navbar-right">
         <li><a href="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
         <li><a href="order"><span class="glyphicon glyphicon-shopping-cart "></span> Order</a></li>
    </ul>
  </div>
</nav>

<header id="header">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1> <span class="glyphicon glyphicon-local-drink"> </span>LYX Juice
        <small>In Your Life</small></h1>
        </div>
    </div>
  </div>
</header>


</div>

<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading main-color-bg">
<h3 class="panel-title">JUICE</div></h3>
<div class="panel-body">
<div class="col-md-3">
<div class="well dash-box">
<h4 class="juice">BANANA JUICE</h4>
  <img src="/image/banana.jpg" alt="bananajuice" width="250" height="200">
</div>
</div>
<div class="col-md-3">
<div class="well dash-box">
  <h4 class="juice">BLUEBERRY JUICE</h4>
  <img src="/image/blueberry.jpg" alt="blueberryjuice" width="250" height="200">
</div>
</div>
<div class="col-md-3">
<div class="well dash-box">
  <h4 class="juice">KIWI JUICE</h4>
  <img src="/image/kiwi.jpg" alt="kiwijuice" width="250" height="200">
</div>
</div>
<div class="col-md-3">
<div class="well dash-box">
  <h4 class="juice">LEMON JUICE</h4>
  <img src="image/lemon.jpg" alt="lemonjuice" width="250" height="200">
</div>
</div>
<div class="col-md-3">
<div class="well dash-box">
  <h4 class="juice">ORANGE JUICE</h4>
  <img src="image/orange.jpg" alt="orangejuice" width="250" height="200">
</div>
</div>
<div class="col-md-3">
<div class="well dash-box">
  <h4 class="juice">PAPAYA JUICE</h4>
  <img src="image/papaya.jpg" alt="papayajuice" width="250" height="200">
</div>
</div>
<div class="col-md-3">
<div class="well dash-box">
  <h4 class="juice">STRAWBERRY JUICE</h4>
  <img src="image/strawberry.jpg" alt="strawberryjuice" width="250" height="200">
</div>
</div>
<div class="col-md-3">
<div class="well dash-box">
  <h4 class="juice">WATERMELON JUICE</h4>
  <img src="image/watermelon.jpg" alt="watermelonjuice" width="250" height="200">
</div>
</div>
