<html lang="en">
<head>
  <title>LYX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

</head>
<body>
  <% include  ./partials/nav5  %>
  <h1>Welcome to LYX Juice</h1>
  <p class="center">Fresh juice is packed with nutrients. As fruits and vegetables are juiced, the liquids are separated from the fibre, resulting in a concentrated blend of flavour and colour, as well as phytochemicals (protective compounds) and minerals that "are better absorbed from juice than from food that is raw but not juiced," says Vancouver-based registered dietitian Vesanto Melina, co-author of raw-food nutrition guidebook Becoming Raw.

Vegetable juices are so rich in nutrients, in fact, that while they’re no substitute for an overall balanced diet, they can help offset less-healthy diets, or even less healthy days.
</p>
</body>
</html>
