<html lang="en">
<head>
  <title>LYX</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <% include  ./partials/nav5  %>

        <div class="container">
         <div class="col-md-12">
         <div class="panel panel-default">
         <div class="panel-heading main-color-bg">
    <h3 class="panel-title">Login</div></h3>
    <div class="panel-body">
      <form>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="username" class="form-control" id="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

    </div>
         </div>
         </div>
          </div>



  <script>$("#btnlogout").click(function(){alert("you are logging out.")}); </script>

</body>
</html>
